.board-rowfalse button {
padding: 60px;
font-size: 16px;
margin: 0px;
margin-right: 0px;
color: blue;
border: 10px solid #671f08  ;
width: 100px;
height: 100px;
vertical-align:top;

}
.board-rowtrue button {
padding: 60px;
font-size: 16px;
margin: 0px;
margin-right: 0px;
color: blue;
border: 10px solid #4d04df  ;
width: 100px;
height: 100px;
vertical-align:top;

}
.board-row button {
padding: 60px;
font-size: 16px;
margin: 0px;
margin-right: 0px;
color: blue;
border: 10px solid #F8BB38  ;
width: 100px;
height: 100px;
vertical-align:top;

}
.board-row button:hover {
  background-color: #F8D68D  ;
  border: 10px solid #F8BB38;
  cursor: pointer;
}
.button-bar {
    background-color: #8DE5F8;
    border: 10px solid #8DE5F8;


}
.button-bar button {
    background-color: #E2F4F8;
    border: 1px solid #E2F4F8;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
}
.status {
    background-color: #DBF7F5;
    padding:5px;
}
.phase {
    color:black;
    size:20px;
}
.statephase {
    color:#671f08  ;
    size:28px;
    font-weight: bold;
}


.square0null {
    background-color: white;
}
.square1null {
    background-image:url("../assets/h10.png");
    background-size:120px;

}
.square2null {
    background-image:url("../assets/h20.png");
    background-size:120px;
}
.square3null {
    background-image:url("../assets/h30.png");
    background-size:120px;
}
.square4null{
    background-image:url("../assets/h40.png");
    background-size:120px;
}
.square0X{
    background-image:url("../assets/workerx.png");
    background-size:120px;

}
.square0T{
    background-image:url("../assets/workert.png");
    background-size:120px;
}
.square1X{
    background-image:url("../assets/h1x.png");
    background-size:120px;
}
.square1T{
    background-image:url("../assets/h1t.png");
    background-size:120px;
}
.square2X{
    background-image:url("../assets/h2x.png");
    background-size:120px;
}
.square2T{
    background-image:url("../assets/h2t.png");
    background-size:120px;
}
.square3X{
    background-image:url("../assets/h3x.png");
    background-size:120px;
}
.square3T{
    background-image:url("../assets/h3t.png");
    background-size:120px;
}
.squareX{
    background-image:url("../assets/workerx.png");
    background-size:120px;
}
.squareT{
    background-image:url("../assets/workert.png");
    background-size:120px;
}
