.board-row button {
padding: 60px;
font-size: 16px;
margin: 0px;
margin-right: 0px;
background-color: white;
color: blue;
border: 10px solid #F8BB38  ;

}
.board-row button:hover {
  background-color: #F8D68D  ;
  border: 10px solid #F8BB38;
  cursor: pointer;
}
.button-bar {
    background-color: #8DE5F8;
    border: 10px solid #8DE5F8;


}
.button-bar button {
    background-color: #E2F4F8;
    border: 5px solid #E2F4F8;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
}
.status {
    background-color: #DBF7F5;
    padding:7px;
}
.phase {
    color:black;
    size:20px;
}
.statephase {
    color:#F71048  ;
    size:28px;
    font-weight: bold;
}
.square {
    background: green;
}
.square0 {
    backgroundColor:white;
}

.square1 {
    backgroolor:black;
}
.square2 {
    background-color:pink
}
.square3 {

}
.square4 {

}
